@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container{
    display: flex;
    flex-direction:  row;
    flex-wrap:  wrap;
    text-align: center;
    padding: 0;
}

.header, .article, .sitio-1, .sitio-2, .footer{
    flex-grow: 1;
    flex-basis: 100%;
    padding: 10px;
    border: 2px black solid;
    
}

img{
    width: 250px;

}

footer{
    background-color: #d8d2d2;
    color: #050505;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    font-size: 90%;
    text-align: center;
    
}

h1 {
    height: 120%;
    color: #36cecc;

}




@media all and (min-width: 600px){
    .aside{flex: 1 1 auto;}
}

@media all and (min-width: 800px){
    .article{flex: 2 0;}
    .sitio-1{order: 1;}
    .article{order: 2;}
    .sitio-2{order: 3;}
    .footer{order: 4;}

}

.header{background: #176585;}
.article{background: #27b1bf;}
.sitio-1{background: #36cecc;}
.sitio-2{background: #36cecc;}
.footer{background: #c2e4cb;}
